<%- include('includes/head', { pageTitle: 'An error occured' }) %>
</head>
<body>
    <%- include('includes/header') %>
    <main>
       <h1>Could not find resource!</h1>
       <p>Unfortunately, we could not find the requested resource!</p>
       <p><a href="/" class="btn">Back to safety!</a></p>
    </main>
<%- include('includes/footer') %>
<!-- here we didn't write  include('../includes/footer')  as the 500.ejs file is just next to this includes folder-->