<header id="main-header">
    <div id="logo"><a href="/">WDE</a></div>
    <nav>
        <%- include('nav-items') %>
    </nav>
    <!-- This will be visible on mobile screens -->
    <button id="mobile-menu-btn">
        <span></span>
        <span></span>
        <span></span>
    </button>
</header>

<!-- all the navigation elements below will be visible on mobile devices -->
<aside id="mobile-menu">
    <nav>
        <%- include('nav-items') %>
        <!-- don't need to write include('includes/nav-items') as the both files header.ejs and nav-items.ejs files are in same 'includes' folder -->
    </nav>
</aside>